[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = v4.8.2
[submodule "lib/sol.lib.memory"]
	path = lib/sol.lib.memory
	url = https://github.com/rainprotocol/sol.lib.memory
[submodule "lib/rain.lib.hash"]
	path = lib/rain.lib.hash
	url = https://github.com/rainprotocol/rain.lib.hash
[submodule "lib/rain.lib.typecast"]
	path = lib/rain.lib.typecast
	url = https://github.com/rainprotocol/rain.lib.typecast
